* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

/* INIZIO FIXED */
.fixed {
  height: 90px;
  width: 100%;
  background-color: #f5f8fa;
  border-bottom: 1px solid #425b76;
  position: fixed;
  top: 0;
  z-index: 999999;
}

.box {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.left  {
  float: left;
  line-height: 90px;
  color: #425b76;
}

.inline {
  display: inline;
  padding-right:  40px;
}

.inline.english {
  border-right: 1px solid #425b76;
}

.inline.contact {
  padding-left: 20px;
}

.inline a {
  color: #425b76;
}

.right {
  line-height: 90px;
  float: right;
}

.search {
  color: #00a4bd;
  padding-right: 30px;
}

#login {
  padding: 10px 20px;
  margin-right: 13px;
  background-color: white;
  border: 1px solid #ff7a59;
  border-radius: 4px;
}

#login a {
  color: #ff7a59;
}

.orange {
  padding: 10px 20px;
  background-color: #ff7a59;
  border: none;
  border-radius: 4px;
}

.orange a {
  color: white;
}

/* FINE FIXED */


/* INIZIO HEADER*/
header {
  height: 100px;
  margin-top: 90px;
  line-height: 100px;
}

.left img  {
  height: 60px;
  margin-top: 20px;
}

ul li {
  display: inline;
  padding-right: 20px;
}

li a {
  color: #425b76;
  font-size: 20px;
}

/* FINE HEADER */

/* INIZIO PRIMA SECTION*/
.first {
  height: 600px;
  background-color: #fff2ee;
  position: relative;
}

.first img {
  height: 550px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.title {
  width: 50%;
  margin: 0 auto 0 0;
}

.title h1 {
  color: #33475b;
  font-size: 58px;
  padding-top: 50px;
  margin-bottom: 20px;
}

.title p {
  font-size: 20px;
  color: #33475b;
  line-height: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.big {
    padding: 20px 30px;
    margin-bottom: 20px;
}

.title div {
  color: #33475b;
  margin-top: 40px;
}

/* FINE PRIMA SECTION*/

.azzurro {
  height: 86px;
  width: 100%;
  background-color: #afebe4;
  border-bottom: 2px solid #33475b;
  bottom:0;
}

/* INIZIO SECONDA SECTION*/
.second {
  height: 1400px;
  background-color: #f5f8fa;
}

.one {
  text-align: center;
  width: 80%;
  margin: auto;
}

.one img {
  height: 110px;
  margin: 15px 0 ;
}

.one h2 {
  font-size: 30px;
  color: #33475b;
}

.one h4 {
  color: #33475b;
  margin: 25px 0 ;
}
.two {
  height: 300px;
  background-color: white;
}

.two-box {
  width: 70%;
  margin: 30px auto;
}

 .sinistra {
  width: 25%;
  text-align: center;
  float: left;
}
.image {
  height: 90px;
  margin: 50px auto;
}

.destra {
  width: 75%;
  float: left;
}

.destra h3 {
  font-size: 27px;
  color: #33475b;
  margin-top: 50px;
}

.destra h4 {
  font-size: 17px;
  color: #33475b;
  margin-top: 20px;
  line-height: 25px;
}

#feature {
  font-size: 22px;
  color: #33475b;
  position: relative;
  display: inline-block;
  padding: 20px 60px 20px 20px;
}


.hr  {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.hr > span::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 200px;
  background-color:  #33475b;
  left:100%;
  margin-left: 15px;
}

.three {
  height: 600px;
  background-color: violet;
}

/* FINE SECONDA SECTION*/

/* INIZIO TERZA SECTION*/
.third {
  height:970px;
  background-color: #00b6ac;
}

.third-text {
  height: 300px;
  background-color: white;
}

.table {
  height: 500px;
  background-color: black;
}

/* FINE TERZA SECTION*/

/* INIZIO QUARTA SECTION*/
.fourth {
  height: 970px;
}

.fourth-one {
  height: 300px;
  background-color: white;
}

.fourth-two{
  height: 500px;
  background-color: black;
}

/* FINE QUARTA SECTION*/

/* INIZIO FOOTER*/
footer {
  height: 900px;
  background-color: #33475b;
}

.footer-one {
  height: 500px;
  background-color: grey;
}

.footer-two{
  height: 300px;
  background-color: black;
}
